body {
    background-color: rgb(235, 32, 32);
    font-family: Georgia, serif;
  }
  h1, h2 {
    font-family: Arial, sans-serif;
  }
  div {
    width: 60%;
    background-color: rgb(255, 255, 255); 
    border: 1px solid #000000;
    margin: 20px auto;
    padding: 20px 40px;
  }
  